{% extends 'layout/master.twig' %}

{% block content %}

    <h4>Log in or sign up here</h4>

    {{ site.name }}
    {{ site.url }}

    <hr>

    <ul class="tabs" data-tabs id="authforms">
        <li class="tabs-title is-active"><a href="#login"
                                            aria-selected="true">Log In</a></li>
        <li class="tabs-title"><a href="#signup">Sign Up</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="authforms">
        <div class="tabs-panel is-active" id="login">

            <div class="row column small-4 log-in-form">
                <form action="/auth/login" method="post" class="column">
                    <div class="">
                        <label>Email
                            <input type="email" name="email"
                                   placeholder="somebody@example.com">
                        </label>
                    </div>
                    <label>Password
                        <input type="password"
                               placeholder="Password"
                               name="password">
                    </label>
                    <p>
                        <button type="submit"
                                class="button expanded">Log in
                        </button>
                    </p>
                    <p class="text-center"><a
                                href="/auth/forgotpass">Forgot your password?</a>
                    </p>

                </form>
            </div>

        </div>

        <div class="tabs-panel" id="signup">
            <div class="row column small-4 log-in-form">

                <form action="/auth/signup" class="column" method="post">
                    <div class="">
                        <label>Email
                            <input type="email" name="email"
                                   placeholder="somebody@example.com">
                        </label>
                    </div>
                    <label>Password
                        <input type="password"
                               placeholder="pa55w0rd"
                               name="password">
                    </label>
                    <label>Password
                        <input type="password"
                               placeholder="Confirm pa55w0rd"
                               name="password_confirm">
                    </label>
                    <p>
                        <button type="submit"
                                class="button expanded">Register
                        </button>
                    </p>
                </form>

            </div>
        </div>
    </div>

{% endblock %}