<h1>Skeleton Sign up / Log in App</h1>

<p>This app is a starting point for an application with sign up / log in functionality, a configured PHP-DI, FastRoute and basic controllers set up.</p>

<p>To sign up / log in, please go <a href="/auth">here</a>.</p>