{% extends 'layout/master.twig' %}

{% block content %}

<h1>Edit your account information here</h1>

    <form class="ui large form" method="post" action="/account/save">

        <h4 class="ui horizontal divider header">Basic Information</h4>

        <div class="ui stacked segment">
            <div class="field">
                <label>First Name</label>
                <div class="ui input">
                    <input type="text" name="firstname"
                           placeholder="First name"
                           value="{{ user.firstName }}"
                           style="cursor: auto;">
                </div>
            </div>
            <div class="field">
                <label>Last Name</label>
                <div class="ui input">
                    <input type="text" name="lastname"
                           placeholder="Last name"
                           value="{{ user.lastName }}"
                           style="cursor: auto;">
                </div>
            </div>

            <h4 class="ui horizontal divider header">Change Password</h4>

            <div class="field">
                <label>Old Password</label>
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password_old"
                           placeholder="Old Password"
                           style="cursor: auto;">
                </div>
            </div>
            <div class="field">
                <label>New Password</label>
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password_new"
                           placeholder="New Password"
                           style="cursor: auto;">
                </div>
            </div>
            <div class="field">
                <label>Confirm New Password</label>
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password_new_confirm"
                           placeholder="Confirm New Password"
                           style="cursor: auto;">
                </div>
            </div>

            <h4 class="ui horizontal divider header"></h4>

            <button class="ui button fluid large teal submit"
                    type="submit">Save changes
            </button>
        </div>
    </form>

{% endblock %}